/* Embedded fonts */

@font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
}

  @font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

  @font-face {
    font-family: "Gilroy";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: local("Gilroy Extra Bold"), local("Gilroy-Extra-Bold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Custom properties */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-light-grey: #E5E5E5;
    --basic-white: #FFFFFF;

    --special-yellow-dark: #F0C52E;
    --special-yellow-light: #F7E296;
    --special-green: #91C92F;

    --pink-: #F6DADA;
    --disabled-grey: #A6A6A6;
    --switcher-grey: #D9D9D9;
    --counter-background: #EBEBEB;
    --filters-background: #DCDCDC;
    --toogle-grey: #C4C4C4;

    --modals-background: #F2F2F2;
    --modals-background-hover: #EAEAEA;
    --modals-bacgkround-invalid: #F6DADA;

    --opacity-hover: 0.6;
    --opacity-active: 0.3;

    --box-shadow: rgba(0, 0, 0, 0.15);
    --toggle-box-shadow: rgba(0, 0, 0, 0.18);

    --font-gilroy: "Gilroy", "Arial", sans-serif;
    --font-open-sans: "Open Sans", "Arial", sans-serif;
}

/* GLOBAL - Site properties */

body {
    min-width: 1160px;
    margin: 0;
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-black);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.button {
    display: inline-block;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    position: relative;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.button::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 8px;
    left: 0;
    top: 50%;
    margin-top: -4px;
    background-color: var(--special-yellow-dark);
}

.button:hover::before,
.button:focus::before {
    height: 40px;
    margin-top: -20px;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
}

/* INDEX - Site properties */

/* HEADER - */

.logo-header {
    position: absolute;
    top: -20px;
}

/* Search Input */

.search-block {
    display: flex;
}

.search-field {
    box-sizing: border-box;
    border: 0;
    height: 50px;
    background-color: transparent;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    padding: 0;
    padding-left: 39px;
    width: 356px;
    background-image: url("../img/search.svg");
    background-position: 1px 50%;
    background-repeat: no-repeat;

    outline: 0;
}

.search-field-sumbit {
    opacity: 0;
    padding: 0 17px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 300;
    background-color: transparent;
    border: 2px solid var(--basic-black);
}

.search-field-sumbit:hover,
.search-field-sumbit:focus {
    opacity: 1;
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-field-sumbit:active {
    opacity: 1;
    color: rgba(255, 255, 255, 0.3)
}

.search-field::placeholder{
    opacity: 0.3;
}

.search-field:hover::placeholder {
    opacity: var(--opacity-hover);
}

.search-field:focus {
    opacity: 1;
    border-bottom: 2px solid var(--basic-black);
}

.search-field:focus + .search-field-sumbit {
    opacity: 1;
}

.block-user-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search-block {
    flex-basis: 161px;


}

.block-menu {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

.user-menu {
    position: relative;
    max-width: 236px;
}

.product-menu {
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.login-link {
    padding-left: 25px;
    position: relative;
}

.login-link::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 10px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.compare {
    position: relative;
    padding-left: 24px; 
}

.compare::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 9px;
    background-image: url(../img/compare.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cart {
    position: relative;
    padding-left: 24px;
}

.cart::before  {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation-catalog {
    margin-right: 297px;
    position: relative;
}

.nav-catalog {
    position: relative;
    padding-right: 40px;
}

.nav-catalog::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 12px;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.site-navigation-others:nth-of-type(2) {
    margin-right: 38px;
}

.site-navigation-others:nth-of-type(3) {
    margin-right: 111px;
}

.main-header {
    background-color: var(--special-yellow-light);
    padding-top: 44px;
    padding-bottom: 50px;
    position: relative;
    margin-top: 40px;
}

.main-header a {
    color: var(--basic-black);
}

.main-header a:hover,
.main-header a:focus {
    opacity: var(--opacity-hover);
}

.main-header a:active {
    opacity: var(--opacity-active);
} 

.main-navigation a,
.footer-navigation a {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

a.nav-catalog {
    letter-spacing: 0.1em;
}

.catalog-menu {
    display: none;
    position: absolute;
    width: 1040px;
    left: -60px;
    padding: 30px 60px 46px 60px;
    background-color: var(--special-yellow-light);
    z-index: 1;
}

.site-navigation-catalog:hover .catalog-menu {
    display: flex;
}

.catalog-menu a {
    display: block;
    margin-bottom: 20px;
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
}

.catalog-menu a:last-child {
    margin-bottom: 0;
}

.cameras,
.watches {
    margin-right: 61px;
}

/* INDEX - Slider */

.slider {
    margin-bottom: 76px;
    position: relative;
}

.slider::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    display: block;
    width: 1160px;
    height: 114px;
    background-color: var(--special-yellow-light);
}

.button-slider {
    min-width: 220px;
}

.slider-products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-products-item {
    display: none;
    justify-content: space-between;
    position: relative;
}

.slider-products-item::before {
    content: attr(data-slide-number);
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--font-gilroy);
    color: var(--basic-white);
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
}

.slider-active {
    display: flex;
}

.slider-image {
    flex-basis: 440px;
    text-align: center;
}

.slider-info {
    padding-top: 110px;
    flex-basis: 500px;
    position: relative;
}

.slider-info::before {
    content: "";
    position: absolute;
    top: 51px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: var(--basic-white);
}

.product-slogan {
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.product-description {
    margin: 0;
    margin-bottom: 60px;
}

.product-features {
    margin-top: 60px;
    border-spacing: 0 15px;
}

.product-features th {
    font-family: var(--font-gilroy);
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    padding: 0;
    padding-right: 65px;
}

.product-features th:last-child {
    padding-right: 0;
}

.product-features td {
    font-family: var(--font-gilroy);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding: 0;
}

.slider-switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 72px;
    justify-content: space-between;
    line-height: 0;
    position: absolute;
    right: 91px;
    bottom: 123px;
}

.slider-switcher button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    position: relative;
}

.slider-button-current::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border: 1px solid var(--basic-black);
    border-radius: 50%;

}

/* INDEX - Categories */

.categories {
    padding: 20px 0;
    width: 1160px;
    margin: 0 auto 64px;
}

.categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;
}

.category-background {
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
    background-color: var(--special-yellow-light);
}

.category-background::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.category-item:hover .category-background,
.category-item:focus .category-background,
.category-item:active .category-background {
    background-color: var(--special-yellow-dark);
}

.category-item:active .category-background::before,
.category-item:active p {
    opacity: 0.3;
}

.vr-image::before {
    background-image: url("../img/vr-category.svg");
}

.monopodes-image::before {
    background-image: url("../img/monopodes-category.svg");
}

.action-cameras-image::before {
    background-image: url("../img/action-camers-category.svg"); 
}

.fitness-trackers-image::before {
    background-image: url("../img/fitness-trackers-category.svg"); 
}

.smart-watches-image::before {
    background-image: url("../img/smart-watches-category.svg"); 
}

.drones-image::before {
    background-image: url("../img/drones-category.svg"); 
}

.categories-list p {
    margin: 0;
}

.category-item {
    display: block;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
}

/* INDEX - Services */

.services {
    margin-bottom: 90px;
    padding-bottom: 68px;
    background-color: var(--basic-light-grey);
}

.services-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.services-buttons-container {
    width: 300px;
}

.services-list-buttons {
    list-style: none;
    margin: 0;
    padding: 80px 0 86px;
    width: 277px;
    border-right: 7px solid var(--basic-black);
}

.services-list-buttons li {
    margin-bottom: 40px;
}

.services-list-buttons li:last-child {
    margin-bottom: 0;
}

.button-services {
    min-width: 160px;
    outline: 0;
}

.button-services:active {
    color: var(--special-yellow-light);
}

.service-current-button {
    position: relative;
    z-index: 0;
    color: var(--special-yellow-light);
}

.button-services:active::after,
.service-current-button::after {
    position: absolute;
    top: -9px;
    left: 0;
    z-index: -1;
    display: block;
    content: "";
    width: 278px;
    height: 40px;
    background-color: var(--basic-black);
}

.service-list {
    list-style: none;
    width: 860px;
    box-sizing: border-box;
    padding: 76px 0 67px 100px;
    margin: 0;
}

.service-list-item {
    display: none;
    position: relative;
}


.service-image::after {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
}

.service-image-delivery::after {
    width: 136px;
    height: 164px;
    right: 0;
    top: 0;
    background-image: url("../img/delivery.svg");
}

.service-image-warranty::after {
    width: 171px;
    height: 195px;
    right: 0;
    top: 0;
    background-image: url("../img/warranty.svg");
}

.service-image-credit::after {
    width: 156px;
    height: 188px;
    right: 0;
    top: 0;
    background-image: url("../img/credit.svg");
}

.active-service {
    display: block;
}

.service-name {
    margin: 0;
    margin-bottom: 40px;
}

.service-description {
    line-height: 28px;
    letter-spacing: 0.1em;
    margin: 0;
}

/* INDEX - Popular Brands */

.popular-brands {
    margin-bottom: 90px;
}

.brand-list {
    list-style: none;
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.brand-item {
    filter: grayscale(100%);
    opacity: 0.3;
}

.brand-item:hover,
.brand-item:focus,
.brand-item:active {
    filter: grayscale(0%);
    opacity: 1;
}

/* INDEX - About & Contacts */

.index-columns {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.button-info {
    min-width: 260px;
}

.about {
    flex-basis: 473px;
    position: relative;
    padding-top: 57px;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
}

.about h2 {
    margin: 0;
    margin-bottom: 50px;
}

.about-last-paragraph {
    margin-bottom: 60px;
}

.contacts {
    flex-basis: 560px;
    padding-top: 57px;
    position: relative;
}

.contacts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
}

.contacts h2 {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 47px;
}

.img-container {
    display: block;
    margin-bottom: 85px;
}

.about h2,
.contacts h2,
.service-name {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about p,
.contacts p {
    line-height: 28px;
    margin: 0;
    margin-bottom: 40px;
}

.delivery-list {
    list-style: none;
    margin: 0;
    margin-bottom: 84px;
    padding: 0;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.delivery-list li {
    margin-bottom: 20px;
    padding-left: 32px;
    position: relative;
}

.delivery-list li::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 4px;
    height: 4px;
    border: 2px solid var(--basic-light-grey);
    border-radius: 50%;
}

.delivery-list li:last-child {
    margin-bottom: 0;
}

/* FOOTER */

.main-footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

.footer-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 46px 0 65px;
}


.footer-row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.footer-row2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 67px;
}

.footer-row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-row3::before {
    content: "";
    position: relative;
    display: block;
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow-dark);
}

.logo-footer {
    padding-top: 18px;
}

.logo-footer path {
    fill: var(--special-yellow-dark);
}

.social-item {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.social-item:hover,
.social-item:focus {
    opacity: var(--opacity-hover);
}

.social-item:active {
    opacity: 0.1;
}

.social-facebook {
    background-image: url("../img/fb.svg");
}

.social-instagram {
    background-image: url("../img/instagram.svg");
}

.social-twitter {
    background-image: url("../img/twitter.svg"); 
}

.footer-menu-block {
    display: flex;
    align-self: flex-start;
}

.footer-user-menu .login-link::before {
    background-image: url("../img/user-yellow.svg")
}

.footer-product-menu .compare::before {
    background-image: url("../img/compare-yellow.svg")
}

.footer-product-menu .cart::before {
    background-image: url("../img/cart-yellow.svg")
}

.footer-user-menu {
    margin-right: 39px;
}

.user-profile {
    position: relative;
    margin-right: 24px;
    padding-left: 25px;
}

.user-profile::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 10px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-user-menu .user-profile::before {
    background-image: url("../img/user-yellow.svg")
}

.footer-product-menu {
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.main-footer a {
    color: var(--basic-white);
}

.main-footer address {
    font-style: normal;
}

.footer-navigation,
.socials {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.socials {
    width: 136px;
}

.footer-navigation {
    width: 423px;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: var(--opacity-hover);
}

.footer-navigation a:active {
    opacity: var(--opacity-active);
}

.footer-product-menu a,
.footer-user-menu a {
    opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus,
.footer-product-menu a:hover,
.footer-product-menu a:focus {
    opacity: 1;
}

.footer-user-menu a:active,
.footer-product-menu a:active {
    opacity: var(--opacity-active);
}

.copyright:hover,
.copyright:focus {
    opacity: var(--opacity-hover);
}

.copyright:active {
    opacity: var(--opacity-active);
}


/* INDEX - PopUp windows */

.close-cross {
    position: absolute;
    border: 0;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    bacgkround-repeat: no-repeat;
}

.close-cross:hover,
.close-cross:focus {
    opacity: 1;
}

.close-cross:active {
    opacity: 0.3;
}

/* Feedback window  */

.feedback {
    /* На время отсутствия JS скрыта модалка */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    box-sizing: border-box;
    width: 960px;
    padding: 92px 100px 69px 100px;
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px var(--box-shadow);
}

.button-modal {
    min-width: 200px;
}

.feedback p {
    margin: 0;
}

.two-fields-together {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.two-fields-together p {
    width: 360px;
}

.feedback label {
    display: block;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.feedback input,
.feedback textarea {
    box-sizing: border-box;
    border: 0;
    height: 50px;
    padding: 16px 20px 15px;
    width: 100%;
    background-color: var(--modals-background);

    font-family: var(--font-open-sans);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    outline: 0;
}

.feedback textarea {
    height: 171px;
    margin-bottom: 54px;
    resize: none;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
    opacity: 0.4;
}

.feedback input:hover,
.feedback textarea:hover {
    background-color: var(--modals-background-hover);
}

.feedback input:focus,
.feedback textarea:focus {
    background-color: transparent;
    border: 2px solid #F7E296;
}

.close-cross-feedback {
    top: 20px;
    right: 20px;
}

/*  Map Window */

.map {
    /* Скрытие на время верстки */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.close-cross-map {
    top: 29px;
    right: 36px;
    z-index: 1;
}
/* CATALOG - Site properties */

/* CATALOG - Header */

.active-logo:hover,
.active-logo:focus{
    opacity: var(--opacity-hover);
}

.active-logo:active {
    opacity: var(--opacity-active);
}

.user-menu .logout-link {
    color: var(--basic-black);
    opacity: 0.3;
}

/* CATALOG - Title & Breadcrumbs */

.catalog-main-title {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-top: 44px;
    margin-bottom: 30px;
}

/*  Задал крошкам флекс, вытянул их в строку, дальше хз,
сделать маргинами, меряя ручками в фигме через рисование прямоугольничка или дать контейнеру ширину и прописать space-between */

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1040px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    margin-bottom: 50px;
}

.breadcrumbs-item-link {
    position: relative;
    color: var(--basic-black);
    opacity: 0.3;
    padding-right: 40px;
}

.breadcrumbs-item-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 4px;
    height: 7px;
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-item-link::after {
    right: 16px;
}

.breadcrumbs-item:last-child .breadcrumbs-item-link::after {
    display: none;
}

.breadcrumbs-item-link[href]:hover,
.breadcrumbs-item-link[href]:focus {
    opacity: var(--opacity-hover);
}

.breadcrumbs-item-link[href]:active {
    opacity: 0.1;
}

/* CATALOG - Sectioning properties */
.main-grid {
    display: grid;
    grid-template-columns: 268px 1fr;
    grid-template-rows: min-content 1fr min-content;
}

.main-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 60px;
}

/* CATALOG - Filters */

.filters fieldset {
    border: 0;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
}

.filters .set-price {
    margin-bottom: 33px;
}

.filters .set-color {
    margin-bottom: 37px;
}

.set-color p {
    margin: 0;
    margin-bottom: 15px;
}

.set-color p:last-child {
    margin-bottom: 0;
}

.bluetooth-check p {
    margin: 0;
    margin-bottom: 16px;
}

.bluetooth-check p:last-child {
    margin-bottom: 0;
}


.filters fieldset:last-of-type {
    margin-bottom: 50px;
}

.filters legend {
    width: 100%;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    padding-top: 16px;
    border-top: 2px solid var(--basic-black);
}

.filters {
    background-color: var(--basic-light-grey);
    font-size: 14px;
    line-height: 19px;
    position: relative;
}

.filters::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -2;
    width: 100vw;
    height: 100%;
    background-color: var(--basic-light-grey);
}

.filters h2 {
    background-color: var(--filters-background);
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 70px;
    padding: 25px 0;
    position: relative;
}

.filters h2::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 70px;
    background-color: var(--filters-background);
}

.filters-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.price-filter {
    margin-top: 9px;
}

.price-filter-fields {
    display: flex;
    justify-content: space-between;
}

.price-filter-label {
    font-family: var(--font-gilroy);
    line-height: 16px;
}

.price-filter-input {
    background-color: transparent;
    border: none;
    font-weight: 300;
    width: 70px;
    padding: 5px;
}

.price-filter-input::-webkit-inner-spin-button, 
.price-filter-input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

.price-filter-input {
    -moz-appearance: textfield;
  }

.price-filter-scale {
    position: relative;
}

.scale {
    height: 2px;
    background-color: var(--basic-black);
    opacity: 0.2;
    margin-bottom: 12px;
    position: relative;
}

.price-filter-scale::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 60%;
    height: 2px;
    background-color: var(--special-green);
    z-index: 1;
}

.toggle {
    cursor: grab;
    position: absolute;
    top: -9px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    background-color: var(--toogle-grey);
    border-radius: 50%;
    box-shadow: 0px 2px 2px var(--toggle-box-shadow);
    z-index: 2;
}

.toggle-max {
    left: 114px;
}

/* Filters - Custom Checkbox */

/* CHECKBOXES */

.checkbox-input,
.radio-input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
}

.checkbox-label {
    position: relative;
    padding-left: 42px;
    display: flex;
    align-items: center;
}

.checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.checkbox-input:not(:disabled) + .checkbox-label {
    cursor: pointer;
}

.checkbox-input:checked + .checkbox-label::before {
    background-image: url("../img/checkbox-on.svg");
}

.checkbox-input:focus + .checkbox-label {
    opacity: var(--opacity-hover);
    outline: 2px solid rgb(0, 95, 204);
}

.checkbox-label:hover::before {
    opacity: var(--opacity-hover);
}

.checkbox-label:active::before {
    opacity: 1;
}

.checkbox-input:disabled + .checkbox-label {
    color: var(--disabled-grey);
}

.checkbox-input:disabled + .checkbox-label::before {
    opacity: 0.25;
}

/* RADIO BUTTONS */

.radio-label {
    position: relative;
    padding-left: 42px;
    display: flex;
    align-items: center;
}

.radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.radio-input:checked + .radio-label::before {
    background-image: url("../img/radio-on.svg");
}

.radio-input:not(:disabled) + .radio-label {
    cursor: pointer;
}

.radio-input:focus + .radio-label {
    opacity: var(--opacity-hover);
    outline: 2px solid rgb(0, 95, 204);
}

.radio-label:hover::before {
    opacity: var(--opacity-hover);
}

.radio-label:active::before {
    opacity: 1;
}

.radio-input:disabled + .radio-label {
    color: var(--disabled-grey);
}

.radio-input:disabled + .radio-label::before {
    opacity: 0.25;   
} 

.radio-input:checked:not(:disabled) + .radio-label:active::before {
    opacity: var(--opacity-hover);
}


.button-filter {
    min-width: 200px;
}

/* CATALOG - Sorting filters */

.sorting-block {
    background-color: var(--basic-light-grey);
    display: flex;
    align-items: center;
    padding-left: 72px;
    margin-bottom: 70px;
    position: relative;
}

.sorting-block::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 70px;
    background-color: var(--basic-light-grey);
}

.sorting-block a {
    color: var(--basic-black);
}

.sorting-block a:not(.sorting-current) {
    opacity: 0.3;
}

.sorting-current {
    opacity: 1;
}

.sorting-block a:hover,
.sorting-block a:focus {
    opacity: var(--opacity-hover);
}

.sorting-block a:active {
    opacity: 1;
}

.sorting-text {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    flex-basis: 160px;
    margin: 0;
    margin-right: 40px;
    padding: 25px 0;
}

.sorting-parametres {
    margin: 0;
    margin-right: auto;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    flex-basis: 300px;
}

.sorting-parametres li {
    display: inline-block;
    margin-right: 30px;
}

.sorting-parametres li:last-child {
    margin-right: 0;
}

.sorting-type {
    margin: 0;
    padding: 0;
    padding-left: 11px;
    display: flex;
    flex-basis: 60px;
    list-style: none;
    box-sizing: border-box;
}

.sorting-type a {
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid var(--basic-black);
}

.sorting-type-item:first-child {
    margin-right: 20px;
    transform: rotate(180deg);
}

/* CATALOG - Goods-list */

/* Hover block */

.product-controls {
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 360px;
    height: 380px;
    padding: 180px 80px 138px;
    left: 0;
    top: 0;
    justify-content: space-between;
    background-color: transparent;
    z-index: 3;
}

.product-item:hover .product-image {
    opacity: 0.7;
}

.product-item:hover .product-controls {
    display: flex;
    flex-direction: column;
}

.button-add-comparing {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    border: none;
    background-color: transparent;
    opacity: 0.5;
}

.button-add-comparing:hover,
.button-add-comparing:focus {
    opacity: 1;
}

.button-add-comparing:active {
    opacity: 0.2;
}

/* Goods-list */

.goods-list {
    list-style: none;
    margin: 0;
    margin-left: 72px;
    margin-bottom: 40px;
    padding: 0;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 360px 360px;
    row-gap: 40px;
}


.product-item {
    position: relative;
}

.product-image {
    display: block;
    margin-bottom: 30px;
}

.new-product::before {
    content: "";
    position: absolute;
    right: 27px;
    top: 29px;
    z-index: 2;

    display: block;
    width: 62px;
    height: 62px;
    background-color: transparent;
    background-image: url("../img/new-product.png");
    background-repeat: no-repeat;
}

.product-title-price {
    display: flex;
    justify-content: space-between;
}

.product-title {
    margin: 0;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.product-price {
    margin: 0;
    font-family: var(--font-gilroy);
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    min-width: 100px;
    text-align: right;
}


/* Page Counter */

.page-counter {
    margin: 0 0 70px 72px;
    width: 760px;
    background-color: var(--counter-background);
    display: flex;
    justify-content: space-between;
}

.page-number-switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
}

.page-number-switcher li {
    margin-right: 30px;
}

.page-number-switcher li:last-child {
    margin-right: 0;
}

.page-counter a {
    color: var(--basic-black);
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.number-switcher-item:not(.page-current) {
    opacity: 0.3;
}

.number-switcher-item:hover:not(.page-current),
.number-switcher-item:focus:not(.page-current) {
    opacity: 0.6;
}

.number-switcher-item:active:not(.page-current) {
    opacity: 1;
}

.page-text-switcher {
    padding: 25px 30px;
}

.page-text-switcher:hover,
.page-text-switcher:focus {
    background-color: var(--switcher-grey);
}

.page-text-switcher:active {
    background-color: var(--switcher-grey);
    opacity: 0.3;
}