/* Embedded fonts */

@font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
}

  @font-face {
    font-family: "Open Sans";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

  @font-face {
    font-family: "Gilroy";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: local("Gilroy Extra Bold"), local("Gilroy-Extra-Bold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Custom properties */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-light-grey: #E5E5E5;
    --basic-white: #FFFFFF;

    --special-yellow-dark: #F0C52E;
    --special-yellow-light: #F7E296;
    --special-green: #91C92F;

    --pink-: #F6DADA;
    --disabled-grey: #A6A6A6;
    --switcher-grey: #D9D9D9;
    --counter-background: #EBEBEB;
    --filters-background: #DCDCDC;

    --opacity-hover: 0.6;
    --opacity-active: 0.3;

    --font-gilroy: "Gilroy", "Arial", sans-serif;
    --font-open-sans: "Open Sans", "Arial", sans-serif;
}

/* GLOBAL - Site properties */

body {
    min-width: 1160px;
    margin: 0;
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-black);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.button {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
}

/* INDEX - Site properties */

/* HEADER - */

.logo-header {
    position: absolute;
    top: -20px;
}

/* Search Input */

.search-field {
    border: 0;
    background-color: transparent;
    line-height: 20px;
    opacity: 0.3;
    font-weight: 300;
    color: var(--basic-black);
}

/* Стилизация placeholder требует перепроверки */

.search-field-sumbit {
    display: none;
}

.search-field::placeholder{
    opacity: 0.3;
}

.search-field:hover::placeholder {
    opacity: var(--opacity-hover);
}

.search-field:focus {
    opacity: 1;
}

.block-user-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search-block {
    padding-left: 39px;
    flex-basis: 161px;
}

.block-menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 500px;
}

.user-menu {
    padding-left: 25px;
    max-width: 236px;
}

.product-menu {
    flex-basis: 217px;
    display: flex;
    justify-content: space-between;
}

.product-menu a {
    padding-left: 24px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.site-navigation-catalog {
    flex-basis: 200px;
    padding-right: 40px;
}

.site-navigation-others {
    min-width: 500px;
    display: flex;
    outline: 5px solid red;
    outline-offset: -5px;
}

.site-navigation-others > * {
    outline: 5px solid green;
    outline-offset: -5px;
}

.site-navigation-others-item:first-child {
    margin-right: 38px;
}

.site-navigation-others-item:last-child {
    margin-left: auto;
}

.main-header {
    background-color: var(--special-yellow-light);
    padding-top: 44px;
    padding-bottom: 50px;
    position: relative;
    margin-top: 40px;
}

.main-header a {
    color: var(--basic-black);
}

.main-header a:hover,
.main-header a:focus {
    opacity: var(--opacity-hover);
}

.main-header a:active {
    opacity: var(--opacity-active);
} 

.main-navigation a,
.footer-navigation a {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

a.nav-catalog {
    letter-spacing: 0.1em;
}

.catalog-menu a {
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
}

.catalog-menu {
    display: none;
}
/* INDEX - Slider */

.slider-products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-products-item {
    display: none;
}

.slider-active {
    display: block;
}

.product-slogan {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.product-features th {
    font-family: var(--font-gilroy);
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.product-features td {
    font-family: var(--font-gilroy);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.slider-switcher {
    list-style: none;
}

/* INDEX - Categories */

.categories-list {
    list-style: none;
}

.category-item {
    display: block;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
}

/*  Проверь пожалуйста тут состояние, чет не отрабатывает
возможно, он без ховера не активит, но хз*/
.category-item:active {
    opacity: var(--opacity-active);
}

/* INDEX - Services */

.services-list-buttons {
    list-style: none;
}

.button-service {
    border: 0;
    background-color: transparent;
}

.service-list {
    list-style: none;
}


.service-description {
    line-height: 28px;
    letter-spacing: 0.1em;
}

/* INDEX - Popular Brands */

.brand-list {
    list-style: none;
}

/* INDEX - About & Contacts */

.index-columns {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 57px 0 86px;
}

.about {
    flex-basis: 473px;
}

.about h2 {
    margin: 0;
    margin-bottom: 50px;
}

.about p:nth-of-type(2) {
    margin-bottom: 60px;
}

.contacts {
    flex-basis: 560px;
}

.contacts h2 {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 47px;
}

.img-container {
    display: block;
    margin-bottom: 85px;
}

.about h2,
.contacts h2,
.service-name {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about p,
.contacts p {
    line-height: 28px;
    margin: 0;
    margin-bottom: 40px;
}

.delivery-list {
    list-style: none;
    margin: 0;
    margin-bottom: 84px;
    padding-left: 32px;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.delivery-list li {
    margin-bottom: 20px;
}

.delivery-list li:last-child {
    margin-bottom: 0;
}

/* FOOTER */

.main-footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1160px;
    margin: 0 auto;
    padding: 46px 0 65px;
}

.footer-column1 {
    width: 260px;
    justify-self: start;
    padding: 18px 0 87px;
}

.logo-footer {
    display: block;
    margin-bottom: 40px;
}

.footer-column2 {
    justify-self: center;
    padding-top: 92px;
    margin-bottom: 67px;
}

.social-item {
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--basic-white);
    border-radius: 50%;
    opacity: 0.3;
}

.footer-column3 {
    justify-self: end;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    text-align: right;
}

.footer-menu-block {
    margin-bottom: 73px;
    display: flex;
    justify-content: space-between;
    outline: 3px solid rgba(22, 212, 211, 0.7);
}

.footer-menu-block > * {
    outline: 3px solid red;
    outline-offset: -3px;
}

.footer-user-menu {
    max-width: 196px;
    padding-left: 25px;
}

.telephone {
    margin-bottom: 68px;
}

.footer-product-menu a {

}

.footer-product-menu a:first-child {

}

/*  Не могу грамотно расположить элементы в третьей колонке
пытался через изменение направления главной оси */

.main-footer a {
    color: var(--basic-white);
}

.main-footer address {
    font-style: normal;
}

.footer-navigation,
.socials {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.socials {
    width: 136px;
    margin: 0 auto;
}

.footer-navigation {
    width: 423px;
    margin-bottom: 67px;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: var(--opacity-hover);
}

.footer-navigation a:active {
    opacity: var(--opacity-active);
}

.footer-product-menu a,
.footer-user-menu a {
    opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus,
.footer-product-menu a:hover,
.footer-product-menu a:focus {
    opacity: 1;
}

.footer-user-menu a:active,
.footer-product-menu a:active {
    opacity: var(--opacity-active);
}

.copyright:hover,
.copyright:focus {
    opacity: var(--opacity-hover);
}

.copyright:active {
    opacity: var(--opacity-active);
}


/* INDEX - PopUp windows */

.feedback,
.map {
    display: none;
}

/* CATALOG - Site properties */

/* CATALOG - Header */

.logo-header:hover,
.logo-footer:hover,
.logo-header:focus,
.logo-footer:focus {
    opacity: var(--opacity-hover);
}

.logo-header:active,
.logo-footer:active {
    opacity: var(--opacity-active);
}

.user-menu .logout-link {
    padding-left: 22px;
    color: var(--basic-black);
    opacity: 0.3;
}

/* CATALOG - Title & Breadcrumbs */

.catalog-main-title {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-top: 44px;
    margin-bottom: 30px;
}

/*  Задал крошкам флекс, вытянул их в строку, дальше хз,
сделать маргинами, меряя ручками в фигме через рисование прямоугольничка или дать контейнеру ширину и прописать space-between */

.breadcrumbs {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 1040px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    margin-bottom: 50px;
}

.breadcrumbs a {
    color: var(--basic-black);
    opacity: 0.3;
    margin-right: 40px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: var(--opacity-hover);
}

.breadcrumbs a:active {
    opacity: 0.1;
}

/* CATALOG - Sectioning properties */
.main-grid {
    display: grid;
    grid-template-columns: 268px 1fr;
    grid-template-rows: min-content 1fr min-content;
}

/* CATALOG - Filters */

.filters fieldset {
    border: 0;
    padding: 0;
}

.filters fieldset:last-of-type {
    margin-bottom: 50px;
}

.filters legend {
    display: block;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    padding-top: 16px;
    border-top: 2px solid var(--basic-black);
}

.filters {
    background-color: var(--basic-light-grey);
    font-size: 14px;
    line-height: 19px;
    align-self: start;
}

.filters h2 {
    background-color: var(--filters-background);
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 70px;
    padding: 25px 0;
}

.filters-form {
    display: flex;
    flex-direction: column;
}

.form-range__label {
    font-family: var(--font-gilroy);
    line-height: 16px;
}

.form-range__input {
    background-color: transparent;
    border: none;
}

.form-range__input::-webkit-inner-spin-button, 
.form-range__input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.checkbox-input:hover,
.checkbox-input:focus {
    opacity: 0.6;
}

.checkbox-input:checked:hover,
.checkbox-input:checked:focus {
    opacity: 0.6;
}

.checkbox-input:checked:active {
    opacity: 1;
}

.checkbox-input:disabled {
    opacity: 0.25;
}

.checkbox-input:disabled:checked {
    opacity: 0.25;
}

.checkbox-input:disabled + label {
    color: var(--disabled-grey);
}

.radio-input:hover,
.radio-input:focus {
    opacity: 0.6;
}

.radio-input:checked:hover,
.radio-input:checked:focus {
    opacity: 0.6;
}

.radio-input:checked:active {
    opacity: 1;
}

.radio-input:disabled {
    opacity: 0.25;
}

.radio-input:disabled:checked {
    opacity: 0.25;
}

.radio-input:disabled + label {
    color: var(--disabled-grey);
}

.button-filter {
    border: 0;
    padding: 0;
    background-color: transparent;
}

/* CATALOG - Sorting filters */

.sorting-block {
    background-color: var(--basic-light-grey);
    display: flex;
    align-items: center;
    padding-left: 72px;
    margin-bottom: 70px;
}

.sorting-block a {
    color: var(--basic-black);
}

.sorting-block a:not(.sorting-current) {
    opacity: 0.3;
}

.sorting-current {
    opacity: 1;
}

.sorting-block a:hover,
.sorting-block a:focus {
    opacity: var(--opacity-hover);
}

.sorting-block a:active {
    opacity: 1;
}

.sorting-text {
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    margin-right: 74px;
    padding: 25px 0;
}

.sorting-parametres {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    flex-basis: 300px;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.sorting-parametres li {
    display: inline-block;
    margin-right: 30px;
}

.sorting-parametres li:last-child {
    margin-right: 0;
}

.sorting-type {
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: 60px;
    list-style: none;
}

/* CATALOG - Goods-list */

/* Hover block */

.product-controls {
    display: none;
}

.product-item:hover .product-controls {
    display: block;
}

.button-add-comparing {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    border: none;
    background-color: transparent;
    opacity: 0.5;
}

.button-add-comparing:hover,
.button-add-comparing:focus {
    opacity: 1;
}

.button-add-comparing:active {
    opacity: 0.2;
}

/* Goods-list */

.goods-list {
    list-style: none;
    margin: 0;
    margin-left: 72px;
    padding: 0;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 360px 360px;
    grid-template-rows: min-content min-content;
    row-gap: 40px;
}

.product-image {
    display: block;
    margin-bottom: 30px;
}

.product-title-price {
    display: flex;
    justify-content: space-between;
}

.product-title {
    margin: 0;
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.product-price {
    margin: 0;
    font-family: var(--font-gilroy);
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    min-width: 100px;
    text-align: right;
}


/* Page Counter */

.page-counter {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 72px;
    width: 700px;
    list-style: none;
    padding: 25px 30px;  
    display: flex;
    justify-content: space-between;
    background-color: var(--counter-background);
}

.page-counter a {
    color: var(--basic-black);
    font-family: var(--font-gilroy);
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.page-number-switcher-block {
    flex-basis: 85px;
    display: flex;
    justify-content: space-between;
}

.page-number-switcher:not(.page-current) {
    opacity: 0.3;
}

.page-number-switcher:hover:not(.page-current),
.page-number-switcher:focus:not(.page-current) {
    opacity: 0.6;
}

.page-number-switcher:active:not(.page-current) {
    opacity: 1;
}

.page-text-switcher:hover,
.page-text-switcher:focus {
    background-color: var(--switcher-grey);
}

.page-text-switcher:active {
    background-color: var(--switcher-grey);
    opacity: 0.3;
}